<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Revealit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.twitter.android" />
        <package android:name="com.instagram.android" />
    </queries>



    <application
        android:name=".Utils.Appcontroller"
        android:allowBackup="false"
        android:debuggable="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:node="merge">

        <receiver android:name=".services.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.InternetBrokenActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ImportAccountFromPrivateKey"
            android:exported="false" />
        <activity
            android:name=".UserOnboardingProcess.ListOfActiveAccountsActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MaintanaceActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.DisplayPrivateKeyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.QrCodeScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.GoogleCloudBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.GetBiomatricPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.InviteAndEarnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CloudBackupActivity"
            android:exported="false" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthEnterUserNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthEnterOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthMobileAndPromoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthGetStartedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AppUpgradeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GoogleDriveBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.AddRefferalAndEarnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthSplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="revealit" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data android:scheme="proton" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.ExoPlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|uiMode|smallestScreenSize|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ExoPlayerTestActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|uiMode|smallestScreenSize|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.LoginActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.BiomatricAuthenticationDeleteAccontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HomeScreenTabLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AssestsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.AddRefferalOnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VideoViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.VideoViewActivityTest"
            android:screenOrientation="landscape" /> <!-- <activity -->
        <!-- android:name=".Activities.SplashScreen" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!--
  <activity
              android:name=".Activities.VideoViewActivity"
              android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|uiMode|smallestScreenSize|layoutDirection"
              android:launchMode="singleTop"
              android:screenOrientation="landscape"
              android:persistent="true"/>
        -->
        <activity
            android:name=".Activities.GettingStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserOnboardingProcess.NewAuthBiomatricAuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RevealitNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BiomatricAuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SharingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WebViewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ArModelViewerWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ARviewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ProductBuyingScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RecipesScreenActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".CommonClasse.GlobalLocationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider491514455263066"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.NotificationsMessagingService"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>