<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Revealit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature   android:name="android.hardware.camera.ar" android:required="true" />


    <application
        android:name="com.Revealit.Utils.Appcontroller"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ravi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity
            android:name="com.Revealit.Activities.TestActivity"
            android:screenOrientation="portrait" />-->
        <activity android:name="com.Revealit.Activities.LoginActivityActivity" />
        <activity android:name="com.Revealit.Activities.AssestsList" />
        <activity android:name=".Activities.VideoViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.Revealit.Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.Revealit.CommonClasse.GlobalLocationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

    </application>

</manifest>